<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERB.png</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>B</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERC.png</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>C</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERD.png</string>
				<key>numOfPaages</key>
				<string>3</string>
				<key>title</key>
				<string>D</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERE.png</string>
				<key>numOfPaages</key>
				<string>6</string>
				<key>title</key>
				<string>E</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERF.png</string>
				<key>numOfPaages</key>
				<string>3</string>
				<key>title</key>
				<string>F</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年1月1号</string>
		<key>issueId</key>
		<string>201301</string>
		<key>title</key>
		<string>行报2013年1月刊</string>
		<key>shareInfo</key>
		<string>这本书很不错哦</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERB.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>B</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERC.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>C</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERD.png</string>
				<key>numOfPaages</key>
				<string>6</string>
				<key>title</key>
				<string>D</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERE.png</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>E</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERF.png</string>
				<key>numOfPaages</key>
				<string>3</string>
				<key>title</key>
				<string>F</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERG.png</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>G</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERH.png</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>H</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERI.png</string>
				<key>numOfPaages</key>
				<string>3</string>
				<key>title</key>
				<string>I</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERJ.png</string>
				<key>numOfPaages</key>
				<string>1</string>
				<key>title</key>
				<string>J</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年1月1号</string>
		<key>issueId</key>
		<string>201301</string>
		<key>title</key>
		<string>行报2013年1月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERB.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>B</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERC.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>C</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERD.png</string>
				<key>numOfPaages</key>
				<string>6</string>
				<key>title</key>
				<string>D</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERE.png</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>E</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERF.png</string>
				<key>numOfPaages</key>
				<string>3</string>
				<key>title</key>
				<string>F</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERG.png</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>G</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERH.png</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>H</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERI.png</string>
				<key>numOfPaages</key>
				<string>3</string>
				<key>title</key>
				<string>I</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERJ.png</string>
				<key>numOfPaages</key>
				<string>1</string>
				<key>title</key>
				<string>J</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年1月1号</string>
		<key>issueId</key>
		<string>201301</string>
		<key>title</key>
		<string>行报2013年1月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERB.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>B</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERC.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>C</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERD.png</string>
				<key>numOfPaages</key>
				<string>6</string>
				<key>title</key>
				<string>D</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERE.png</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>E</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERF.png</string>
				<key>numOfPaages</key>
				<string>3</string>
				<key>title</key>
				<string>F</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERG.png</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>G</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERH.png</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>H</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERI.png</string>
				<key>numOfPaages</key>
				<string>3</string>
				<key>title</key>
				<string>I</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERJ.png</string>
				<key>numOfPaages</key>
				<string>1</string>
				<key>title</key>
				<string>J</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年1月1号</string>
		<key>issueId</key>
		<string>201301</string>
		<key>title</key>
		<string>行报2013年1月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERB.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>B</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERC.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>C</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERD.png</string>
				<key>numOfPaages</key>
				<string>6</string>
				<key>title</key>
				<string>D</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERE.png</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>E</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERF.png</string>
				<key>numOfPaages</key>
				<string>3</string>
				<key>title</key>
				<string>F</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERG.png</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>G</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERH.png</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>H</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERI.png</string>
				<key>numOfPaages</key>
				<string>3</string>
				<key>title</key>
				<string>I</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERJ.png</string>
				<key>numOfPaages</key>
				<string>1</string>
				<key>title</key>
				<string>J</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年1月1号</string>
		<key>issueId</key>
		<string>201301</string>
		<key>title</key>
		<string>行报2013年1月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
	<dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverA.jpg</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>coverB.jpg</string>
				<key>numOfPaages</key>
				<string>2</string>
				<key>title</key>
				<string>B</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>Xcover.jpg</string>
		<key>date</key>
		<string>2013年2月1号</string>
		<key>issueId</key>
		<string>201302</string>
		<key>title</key>
		<string>行报2013年2月刊</string>
	</dict>
</array>
</plist>
