<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>copyrightPageURL</key>
		<dict>
			<key>P1</key>
			<string>http://weibo.com/hzxingbao</string>
		</dict>
		<key>weiboURL</key>
		<dict>
			<key>H7</key>
			<string>http://weibo.com/u/1760807974</string>
			<key>H6</key>
			<string>http://weibo.com/dajiaoyin</string>
			<key>H5</key>
			<string>http://weibo.com/hujiujiu</string>
			<key>H4</key>
			<string>http://weibo.com/ftly</string>
			<key>H3</key>
			<string>http://weibo.com/wuang</string>
			<key>H2</key>
			<string>http://weibo.com/u/1286356063</string>
			<key>H1</key>
			<string>http://weibo.com/u/1496863563</string>
		</dict>
		<key>contentInfo</key>
		<array>
			<dict>
				<key>columnInfo</key>
				<string></string>
				<key>cover</key>
				<string>coverpreview.png</string>
				<key>numOfPaages</key>
				<string>1</string>
				<key>title</key>
				<string>Z</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERA.png</string>
				<key>numOfPaages</key>
				<string>1</string>
				<key>title</key>
				<string>A</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERB.png</string>
				<key>numOfPaages</key>
				<string>9</string>
				<key>title</key>
				<string>B</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERC.png</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>C</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERD.png</string>
				<key>numOfPaages</key>
				<string>8</string>
				<key>title</key>
				<string>D</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERE.png</string>
				<key>numOfPaages</key>
				<string>9</string>
				<key>title</key>
				<string>E</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERF.png</string>
				<key>numOfPaages</key>
				<string>22</string>
				<key>title</key>
				<string>F</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERG.png</string>
				<key>numOfPaages</key>
				<string>5</string>
				<key>title</key>
				<string>G</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERH.png</string>
				<key>numOfPaages</key>
				<string>7</string>
				<key>title</key>
				<string>H</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERI.png</string>
				<key>numOfPaages</key>
				<string>15</string>
				<key>title</key>
				<string>I</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERJ.png</string>
				<key>numOfPaages</key>
				<string>6</string>
				<key>title</key>
				<string>J</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERK.png</string>
				<key>numOfPaages</key>
				<string>4</string>
				<key>title</key>
				<string>K</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERL.png</string>
				<key>numOfPaages</key>
				<string>4</string>
				<key>title</key>
				<string>L</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERM.png</string>
				<key>numOfPaages</key>
				<string>4</string>
				<key>title</key>
				<string>M</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERN.png</string>
				<key>numOfPaages</key>
				<string>6</string>
				<key>title</key>
				<string>N</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERO.png</string>
				<key>numOfPaages</key>
				<string>4</string>
				<key>title</key>
				<string>O</string>
			</dict>
			<dict>
				<key>columnInfo</key>
				<string>专栏介绍(如无介绍可为空)</string>
				<key>cover</key>
				<string>COVERP.png</string>
				<key>numOfPaages</key>
				<string>1</string>
				<key>title</key>
				<string>P</string>
			</dict>
		</array>
		<key>contentUrl</key>
		<string>http://www.viggiosoft.com/media/data/blog/newsstand/magazine-0.zip</string>
		<key>cover</key>
		<string>coverpreview.png</string>
		<key>date</key>
		<string>2013年1月1号</string>
		<key>issueId</key>
		<string>201301</string>
		<key>title</key>
		<string>行报2013年1月刊</string>
	</dict>
</array>
</plist>
